<div class="landing-top">
	<div class="col-sm-7 col-md-5 col-sm-offset-1">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			
			<div class="carousel-inner" role="listbox">
			    <div class="item active">
			     	<p class="lead">
			      	Encorex aims to build a diversified portfolio of profitable investments in key economic growth sectors with a special focus on energy.
			     	</p>
			    </div>
			    <div class="item">
			    	<p class="lead">
			      	Encorex provides high quality consulting and general services that add demonstrable and sustainable value to clients.
			    	</p>
			    </div>
			    <div class="item">
			    	<p class="lead">
			      	Encorex aims to grow into a reliable and added value partner of choice for the import, export and wholesaling of high-quality fuel and energy products.
			    	</p>
			    </div>
			</div>
			<br/>
			<br/>
			<ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

		</div>
	</div>
</div>

<script type="text/javascript">
	$('.carousel').carousel({
 		interval: 6000
	})
</script>

<br/>

<h1 class="text-muted text-center">JOIN THE ULTIMATE AND IRREPLACEABLE EXPERIENCE NOW</h1>

<br/>
<br/>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h4 class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Energy Product Training</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex wants to be part of the solution, and wants to grow into a reliable and added value partner of choice for the import, export and wholesaling of high-quality fuel and energy products.
			</p>
			<div class="text-center">
				<button type="button" class="btn btn-default">Learn More</button>
			</div>
		</div>
		<div class="col-sm-4">

			<h4 class="text-center"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Investments</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex will actively seek to build a diversified portfolio of profitable investments in key economic growth sectors, with a special focus on energy, health and commercial and industrial property.
			</p>
			<div class="text-center">
				<button type="button" ui-sref="base.investments" class="btn btn-default">Learn More</button>
			</div>
		</div>
		<div class="col-sm-4">
			<h4 class="text-center"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Consulting and General Services</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex will actively seek to build a diversified portfolio of profitable investments in key economic growth sectors, with a special focus on energy, health and commercial and industrial property.
			</p>
			<div class="text-center">
				<button type="button" class="btn btn-default">Learn More</button>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-2 col-md-offset-1 col-sm-3">
			<img src="images/Godwin.jpg" class="img-responsive img-rounded" alt="Godwin Sweto">
			<p class="lead">
				Godwin Sweto
			</p>
		</div>
		<div class="col-md-7 col-sm-8">
			<p class="lead">
			Encorex was founded in 2013 by Godwin Sweto, an engineer whose 24 years in the minerals and energy industry includes 15 years in oil and gas and 5 years as Vice President for Corporate Strategy and Planning for the Petroleum Oil and Gas Corporation of South Africa (PetroSA), building on his previous experience in production and planning engineering with blue-chip  diversified multinationals like BHP Billiton, RTZ and Lonmin.
			</p> 
		</div>
	</div>

	<br/>
	<br/>
	<br/>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p class="text-muted">
				Encorex is certified as a Level 4 Contributor, in terms of the Gazetted Codes of Good Practice of Broad Based Black Economic Empowerment (BEE).
			</p>
			<img src="images/4.jpg" class="img-responsive img-rounded col-sm-4 col-sm-offset-4"alt="Level 4">
		</div>
	</div>

</div>