<h2>Goals</h2>
<br/>
<span class="lead">
	Encorex aims to:
</span>
<ul>
	<li>Build a diversified portfolio of profitable investments in key economic growth sectors with a special focus on energy.</li>
	<li>Provide high quality consulting and general services that add demonstrable and sustainable value to clients.</li>
	<li>Grow into a reliable and added value partner of choice for the import, export and wholesaling of high-quality fuel and energy products.</li>
</ul>

<br/>
<br/>

<p class="text-muted">
Encorex will uphold the highest safety, ethical, environmental and governance standards, and will seek to contribute meaningfully to sustainable economic and social advancement. ENCOREX will adopt and apply such operating, reporting and governance practices and standards as will position it to achieve at least, a Johannesburg Stock Exchange listing by 2020.
</p>