<div class="landing-top">

</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 well">
			<h4 class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Energy Product Training</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex wants to be part of the solution, and wants to grow into a reliable and added value partner of choice for the import, export and wholesaling of high-quality fuel and energy products.
			</p>
			<div class="text-center">
				<button type="button" class="btn btn-default">Learn More</button>
			</div>
		</div>
		<div class="col-md-4 well">

			<h4 class="text-center"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Investments</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex will actively seek to build a diversified portfolio of profitable investments in key economic growth sectors, with a special focus on energy, health and commercial and industrial property.
			</p>
			<div class="text-center">
				<button type="button" class="btn btn-default">Learn More</button>
			</div>
		</div>
		<div class="col-md-4 well">
			<h4 class="text-center"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Consulting and General Services</h4>
			<hr/>
			<p class="text-muted text-center">
				Encorex will actively seek to build a diversified portfolio of profitable investments in key economic growth sectors, with a special focus on energy, health and commercial and industrial property.
			</p>
			<div class="text-center">
				<button type="button" class="btn btn-default">Learn More</button>
			</div>
		</div>
	</div>
</div>