<h2 class="text-center">Investments</h2>
<div class="container">
	<p class="lead">
		Encorex will actively seek to build a diversified portfolio of profitable investments in key economic growth sectors, with a special focus on energy, health and commercial and industrial property.
		Encorex will welcome partnership opportunities, where such partnerships will help provide demonstrable sustainable win-win benefits to all parties involved.
		Encorex will prioritise investments that advance safety, health and environmental sustainability.
		Encorex is a certified as a Level 4 Contributor in terms of the Gazetted Codes of Good Practice of Broad Based Black Economic Empowerment (BEE).
	</p>
</div>