
html {
    height: 100%;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    /*background-color: rgb(238, 238, 238);*/
    height: 100%;
    font-weight: normal;
    font-style: normal;
    font-size: 1.62em;
    line-height: 1.62;
}

.wrap {
    min-height: 100%;
}

.main {
    overflow:auto;
    padding-bottom:190px; /* this needs to be bigger than footer height*/
}

.footer {
    -webkit-box-shadow: inset 0px 10px 26px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 10px 26px -18px rgba(0,0,0,0.75);
    box-shadow: inset 0px 10px 26px -18px rgba(0,0,0,0.75);
    background-color: #2D2E2F;
    color: #777777;
    position: relative;
    margin-top: -160px; /* negative value of footer height */
    min-height: 160px;
    clear:both;
    padding-top:10px;
}

.navbar {
    border: 0;
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
}

.navbar-brand {
    height: 70px;
}
.landing-top {
    background: url('/images/Alternative_Energies.jpg');
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b3b3b3', GradientType=1);
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
}

@media (min-width: 900px) {
    .landing-top {
        padding-top: 10px;
        height: 300px;
        background-position: 0px -110px;
    }
}

@media (min-width: 1200px) {
    .landing-top {
        padding-top: 100px;
        height: 600px;
        background-position: 0px -240px;
    }
}